<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top"
                src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t1.6435-9/71639801_2435546826685853_8004978939845935104_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=HrVHLZGArvIAX_n3739&tn=EuNYi8eOA1FFrqmA&_nc_ht=scontent.fsgn5-8.fna&oh=00_AT8xI11KFUtNGtQnoed5lmSehlY4mKxcN75-YwrtTvHkWQ&oe=620F91EA"
                alt="Card image cap">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Họ và tên: Đinh Quang Duy</h5>
                <p class="card-text">
                   MSSV: 1712381 <br>
                    Ngày sinh: 14/06/1999 <br>
                    Sở thích: Chơi game, thể thao <br>
                    Công việc: Chưa có <br>
                    trạng thái: Chưa có <br>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t1.6435-9/132346174_1529809213877306_8729778539240293515_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=9m3ivQ6XHaUAX-xZD4o&_nc_ht=scontent.fsgn5-9.fna&oh=00_AT8k3PM2auQ1xe2Cpoy26OxYMdqkAaZVyXP2ChXcJUkNag&oe=620ECBA5" alt="Card image cap">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Họ và tên: Trần Ngọc Quang</h5>
        <p class="card-text">
            MSSV: 1712707 <br>
          Ngày sinh: 23/08/1999 <br>
          Sở thích: Đánh cầu lông, code <br>
          Công việc: IT <br>
          trạng thái: chưa có người yêu <br>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t1.6435-9/56440168_1016318331891146_8712633299316506624_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=ad2b24&_nc_ohc=BmjIw6YhnV8AX-368Ru&_nc_ht=scontent.fsgn5-10.fna&oh=00_AT8tBPahG8xDrThcY4XtKO1EINGfrBezGYskrvdXQl3azA&oe=62115CDA" alt="Card image cap">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Họ và tên: Nguyễn Thanh Hoàng</h5>
        <p class="card-text">
            MSSV: 1612215 <br>
          Ngày sinh: không rõ <br>
          Sở thích: Đánh cầu lông, code <br>
          Công việc: IT <br>
          trạng thái: chưa có người yêu <br>
        </p>
      </div>
    </div>
  </div>
</div>